@import "./scss/bootstrap";
@import "./scss/header";
@import "./scss/home";
.themeButton {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    height: unset;
    width: unset;
    border-radius: 10px;
    background: #104cba;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #437fec !important;
    transition: 0.4s;
}
.themeButton:hover {
    color: #437fec;
    border: 2px solid #437fec !important;
    background-color: white !important;
    background-image: none;
}
.themeButtonScroll {
    font-weight: 800;
    padding: 14px 30px;
    margin-left: 17px;
    margin-bottom: 0;
    height: unset;
    width: unset;
    border-radius: 10px;
    background: #104cba;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #437fec !important;
    transition: 0.4s;
    font-size: 14px;
}
.themeButtonScroll:hover {
    color: #437fec;
    border: 2px solid #437fec !important;
    background-color: white !important;
    background-image: none;
}
.common-margin {
    margin-top: 100px;
}
