.hero-img {
    width: 100%;
}
.main-heading {
    font-weight: bolder;
}
.main-text {
    color: #7a7a7a;
    opacity: 100%;
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0;
    padding: 0;
}
.grediant-color {
    background-image: linear-gradient(198deg, rgba(0, 0, 153, 0.71) 0%, #3cf 100%);
    background-clip: text;
    color: transparent;
}
.left-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero {
    h6 {
        font-size: 16px;
        font-weight: 600;
    }
    h1 {
        font-size: 40px;
        font-weight: 600;
    }
    .image1 {
        width: 100%;
    }
    .img-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon1 {
        width: 90px;
        padding: 10px;
    }
    .icon2 {
        width: 50px;
        padding: 10px;
    }
    .bg-icon {
        width: fit-content;
        background-image: linear-gradient(198deg, #000099b5 0%, #33ccff 100%);
        border-radius: 50px;
        float: left;
    }
    .heading-text {
        font-size: 20px;
        font-weight: 600;
        color: black;
        text-decoration: none !important;
    }
    .margin {
        margin-left: 125px;
    }
    .sub-text {
        margin-top: 10px;
        color: #74787c;
        font-size: 17px;
    }
    .margin-buttom {
        margin-bottom: 50px !important;
    }
    .anytime {
        color: #74787c;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 5px;
    }
    .any-number {
        font-family: "Nunito";
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
}
.hero-servics {
    h1 {
        font-size: 40px;
        font-weight: 600;
    }
    p {
        margin-block-start: 1em;
        margin-block-end: 1em;
        color: #7a7a7a;
        margin: 0 50px;
        font-size: 20px;
    }
    .icon1 {
        width: 90px;
        padding: 10px;
    }
    .bg-icon {
        width: fit-content;
        float: left;
        height: 100%;
    }
    .servics-card {
        background-color: transparent;
        background-image: linear-gradient(60deg, #000099b5 0%, #3cf 100%);
        width: 100%;
        padding: 30px;
        border-style: solid;
        border-width: 0;
        border-radius: 5px;
    }
    .servics-card-text {
        color: white;
        .heading-text {
            font-size: 18px;
            font-weight: bold;
            color: white;
            text-decoration: none;
            margin-bottom: 15px;
        }
        .sub-text {
            font-size: 17px;
            color: white;
            font-weight: 600;
            margin-top: 15px;
        }
    }
    .icon-adjust {
        position: relative;
    }
    .icon-arrow {
        position: absolute;
        right: 50px;
        top: -22px;
        padding: 9px 11px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid #437fec;
        fill: black;
    }
    .icon-arrow:hover {
        background-image: linear-gradient(60deg, #000099b5 0%, #3cf 100%);
        fill: white;
    }
}

.heroWorking {
    h1 {
        font-size: 40px;
        font-weight: 600;
    }
    .working-heading {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .working-text {
        font-size: 16px;
        font-style: normal;
        line-height: 26px;
        font-weight: 400;
        color: #7a7a7a;
    }
    .icon-image0 {
        padding: 20px;
        border-radius: 50%;
        background: transparent;
        background-image: linear-gradient(60deg, #000099b5 0%, #3cf 100%);
        margin-top: 17px;
        text-align: center;
    }
    .icon-image01 {
        margin-top: 17px;
        text-align: center;
        padding: 35px;
        border-radius: 50%;
        background: transparent;
        background-image: linear-gradient(60deg, #000099b5 0%, #3cf 100%);
    }
    .icon-div {
        border-radius: 50%;
        border: 2px dashed #104cba33;
        width: 170px;
        height: 170px;
        margin: auto;
        transition: 0.4s;
    }
    .border-hover:hover .icon-div {
        border-color: #437fec !important;
    }
}
.tabs-home {
    .tabs {
        list-style: none;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .tabs .active-tab {
        position: relative;
        background: #104cba;
        color: #fff;
    }

    .tabs li {
        cursor: pointer;
        margin: 10px;
        transition: color 0.15s ease-in-out;
        font-size: 20px;
        font-weight: 700;
        padding: 15px 30px;
        height: unset;
        width: unset;
        border-radius: 10px;
        border: 2px solid #437fec !important;
        transition: 0.4s;
    }
    .tabs li:hover {
        background: #104cba;
        color: #fff;
    }
    .tabs-content li {
        display: none;
    }
    .technology-icon {
        width: 150px !important;
        height: 150px !important;
    }
    .technology-text {
        font-size: 22px;
    }
    .text-hover-hover:hover .technology-text {
        color: #33ccff !important;
    }
    .icons-tec {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.sliders {
    img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        min-height: 500px;
        box-shadow:
            rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;
        // padding: 30px;
    }
    .scroll {
        padding: 30px;
    }
    .small-title {
        font-size: 20px;
        font-weight: 500;
        background-image: linear-gradient(198deg, #000099b5 0%, #33ccff 100%);
        background-clip: text;
        color: transparent;
    }
    h1 {
        span {
            background-image: linear-gradient(198deg, #000099b5 0%, #33ccff 100%);
            background-clip: text;
            color: transparent;
        }
    }
    .wrap {
        flex-wrap: wrap;
    }

    .img-overlay {
        position: absolute;
        bottom: 58px;
        left: 45px;
        background-color: #144775;
        overflow: hidden;
        width: 80%;
        height: 0;
        transition: 0.5s ease;
        border-radius: 25px;
        opacity: 70%;
    }
    .flex-x {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .single-img {
        position: relative;
    }
    .single-img:hover .img-overlay {
        height: 80%;
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-family: poppins;
        text-transform: uppercase;
        font-weight: bold;
        opacity: 100% !important;
    }
    .text2 {
        font-size: 24px !important;
        color: white;
        text-decoration: underline;
    }
    .text:hover {
        color: blue !important;
        opacity: 100% !important;
    }
    .text span {
        font-weight: 300;
    }
}
.flex-site {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 10px 30px;
    h1 {
        color: #000000;
        font-family: "Inter", Sans-serif;
        font-size: 38px;
        font-weight: 600;
    }
    p {
        color: #7a7a7a;
        opacity: 100%;
        font-family: "Inter", Sans-serif;
        font-weight: 400;
        margin: 25px 0px 0px 0px;
    }
}
.image-d {
    width: 100%;
}
.hero3 {
    h2 {
        font-family: "Inter", Sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 58px;
        color: #000000;
        span {
            background-image: linear-gradient(198deg, #000099b5 0%, #33ccff 100%);
            background-clip: text;
            color: transparent;
        }
    }
    /* Custom Tabs Styles */
    .custom-tabs .nav-link {
        cursor: pointer;
        margin: 10px;
        transition: color 0.15s ease-in-out;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 30px;
        height: unset;
        width: unset;
        border-radius: 10px;
        border: 2px solid #437fec !important;
        transition: 0.4s;
    }

    .custom-tabs .nav-link.active {
        background: #104cba;
        color: #fff;
        font-weight: bold;
    }

    .custom-tabs .nav-link:hover {
        background: #104cba;
        color: #fff;
    }

    /* Custom Accordion Styles */
    .custom-accordion-header {
        color: #437fec;
        padding: 15px;
        cursor: pointer;
        font-size: 1.2rem;
        cursor: pointer;
        transition: color 0.15s ease-in-out;
        font-weight: 700;
        height: unset;
        width: unset;
        border-radius: 10px;
        border: 2px solid #437fec !important;
        transition: 0.4s;
    }

    .custom-accordion-header:hover {
        background: #104cba;
        color: #fff;
    }

    .accordion-icon {
        font-size: 1.5rem;
    }
    .card {
        border: 0 !important;
        margin: 10px;
    }
    .card-header {
        border: 0 !important;
        padding: 0 !important;
    }

    .customize {
        h2 {
            margin-top: 24px;
            font-family: "Inter", Sans-serif;
            font-size: 25px;
            font-weight: 600;
        }
        p {
            color: #7a7a7a !important;
            font-family: "Inter", Sans-serif !important;
            font-size: 20px !important;
        }
        ol {
            li {
                color: #7a7a7a !important;
                font-family: "Inter", Sans-serif !important;
                font-size: 18px !important;
            }
        }
    }
}
